body {
    padding: 10px;
}

.view_detail_list,
.content-auction-view {
    list-style-type: none;
    padding: 0;
}

.view_detail_list li {
    padding-bottom: 1em;
}

.content-auction-view {
    border: 1px solid #e2e2e2;
    padding: 0 10px;
}

.content-auction-view .btn-actions-group {
    margin-top: 35px;
}

.comment-item {
    border: 1px solid #e2e2e2;
    margin-bottom: 10px;
}

.content-comment {
    padding: 0.50em;
    font-size: 13px;
    min-height: 3em;
}

.comment-info {
    font-size: 10px;
    text-align: end;
    padding: 6px 7px;
}

.categories-list {
    list-style-type: none;
}

.categories-list li {
    margin-bottom: 1em;
}