{% extends "auctions/layout.html" %}
{% block body %}
<div class="container-fluid">
    <div class="row">
        <h1 class="col-sm-12">
            {{title}}: {{listing.title}}
        </h1>
    </div>
    <div class="row">
        <div class="col-sm-12">
            {% if messages %}
                {% for message in messages %}
                    {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
                        <div class="alert alert-danger" role="alert">
                            {{ message }}
                        </div>
                    {% else %}
                        <div class="alert alert-success" role="alert">
                            {{ message }}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </div>
    </div>
</div>
<div class="container-fluid">
    <ul class="view_detail_list">
        <li>
            <div class="row">
                <div class="col-sm-12">
                    {% if isWatched == False %}
                    <form action="{% url 'add_watch_list' listing.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn badge badge-primary"> 
                            <i class="fas fa-eye"></i>
                            Watchlist
                        </button>
                    </form>
                    {% else %}
                    <form action="{% url 'remove_watch_list' listing.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="btn badge badge-danger"> 
                            <i class="fas fa-eye-slash"></i>
                            Unwatch
                        </button>
                    </form>
                    {% endif %}
                </div>
            </div>
        </li>
        <li>
            <div class="row">
                <div class="col-sm-3">
                    <img src="{{ listing.image_url }}" 
                            class="col-sm-12"
                            alt="{{ listing.title }}">
                </div>
                <div class="col-sm">
                    <ul class="content-auction-view">
                        <li>
                            <div>
                                <strong>Description:</strong>
                            </div>
                            
                            {{ listing.description}}
                        </li>
                        <li>
                            <h3>${{ listing.price }}</h3>
                        </li>
                        {% if user.is_authenticated %}
                        <li>
                            <span>{{ bids }} bid(s) so far. Your bid is the current bid</span>
                            <form action="{% url 'place_bid' listing.id %}" method="post">
                                {% csrf_token %}
                                <div class="form-group">
                                    <input type="number" class="form-control"  placeholder="Bid" name="bid_value">
                                </div>
                                <button type="submit" class="btn btn-primary"> Place Bid </button>
                            </form>
                        </li>
                        <li>
                            <span><b>Listed by:</b>  {{ listing.createdBy }}</span>
                        </li>
                        <li>
                            <span><b>Category:</b>  {{ listing.category }}</span>
                        </li>
                            {% if listing.createdBy.id == user.id %}
                            <li class="btn-actions-group">
                                <form action="{% url 'close_list' listing.id %}" method="post">
                                    {% csrf_token %}
                                    <button class="btn btn-secondary">
                                        <i class="fas fa-times-circle"></i>
                                        Close
                                    </button>
                                </form>
                            </li>
                            {% endif %}
                    
                        {% endif %}
                    </ul>
                </div>  
            </div>
        </li>
        <li>
            <div class="row">
                <div class="col-sm">
                    <h4>Comments</h4>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    {% for comment in comments %}
                    <div class="comment-item">
                        <div class="content-comment">
                            {{ comment.content}}
                        </div>
                        <div class="offset-sm-9 comment-info">
                            <span> <b>Created by: </b>{{comment.created_by}}</span> | 
                            <span> <b>Date: </b> {{ comment.created_date |date:'d-m-Y H:i'}}</span>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="col-sm-12">
                    <form action="{% url 'place_comment' listing.id %}" method="POST">
                        {% csrf_token %}
                        <div class="form-group">
                            <label>Comment</label>
                            <textarea class="form-control" 
                                      name="content_comment" 
                                      cols="30" 
                                      rows="3"></textarea>
                        </div>
                        <button class="btn btn-primary">Place comment</button>
                    </form>
                </div>
            </div>
        </li>
    </ul>
</div>
{% endblock %}